module.exports = {
    // Webhook to the channel of your choice
    hook_url: 'SLACK_WEBHOOK_URL_HERE',

    // Slack bot token here 'oxob-...
    bot_token: 'SLACK_BOT_TOKEN_HERE',

    // Slack OAuth token here (needs profiles:read) 'obop-...
    oauth_token: 'SLACK_OAUTH_HERE',

    // The Slack channel you want to connect (no '#')
    channel_name: 'CHANNEL-NAME-HERE'
};