module.exports = {
    // Webhook to the channel of your choice
    hook_url: 'SLACK_WEBHOOK_URL_HERE',

    // Slack bot token here 'oxob-...
    bot_token: 'SLACK_BOT_TOKEN_HERE',

    // Slack app token here (needs connections:write, authorizations:read) 'xapp-...
    app_token: 'SLACK_APP_TOKEN_HERE',

    // Slack signing secret here to verify requests
    signing_secret: 'SLACK_SIGNING_SECRET_HERE',

    // The id of the channel you want to connect
    channel_id: 'CHANNEL_ID_HERE'
};
